<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<div id="root" data-apidoc-endpoint="{{ path }}">

</div>
<script type="text/javascript" src="{{ asset('bundles/umbrellaapidoc/app.js') }}"></script>
</body>
</html>